# .env.example
# Renomeie este arquivo para .env e preencha os valores

# --- Configurações do Servidor ---
PORT=3000
# Senha Mestre para fazer login no Painel Web/App
APP_PASSWORD=sua_senha_secreta_aqui

# --- Credenciais MQTT (HiveMQ Cloud) ---
MQTT_URL=mqtts://seu-cluster.s1.eu.hivemq.cloud
MQTT_USER=seu_usuario_mqtt
MQTT_PASS=sua_senha_mqtt

# --- Notificações (Opcional) ---
# Tópico do Ntfy.sh para receber alertas no celular
# Ex: portao_casa_luiz_123 (Deve ser único)
NTFY_TOPIC=nome_do_seu_topico_ntfy